<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs')  %>

<body>
    <%- include('../partials/header.ejs') %>

    <main class="container">
        <div class="habits">
            <% for (habit of habits) { %>
                <div class="habit">
                    <form class="delete" action="/habits/<%= habit._id %>?_method=DELETE" method="post">
                        <button class="btn-flat waves-effect waves-light" type="submit">
                            <i class="material-icons right">delete_forever</i>
                          </button>
                        <!-- <input id="delete" type="image" name="delete" src="https://static.vecteezy.com/system/resources/previews/000/649/201/original/trash-icon-symbol-sign-vector.jpg"> -->
                    </form>
                    <a class="waves-effect waves-teal btn-flat habit_name" href="/habits/<%= habit._id %>"> <%= habit.name %></a>
                    <% if (habit.streak) { %>
                        <p class="streak_text"> Active Streak! </p>
                    <% } else { %>
                        <p> Start a new Streak. </p>
                    <% } %>
                    <form action="/habits/<%= habit._id %>?_method=PUT" method="post">
                        <button class="btn waves-effect waves-light update" type="submit"> I did it!
                            <i class="material-icons right">check</i>
                          </button>
                        <!-- <input class="btn waves-effect waves-light" type="submit" value="I DID IT!"> -->
                    </form>
                    
                </div>
            <% } %>  
        </div>
        <!-- <div class="new"> -->
        <a class="btn-floating btn-large waves-effect waves-light deep-purple-lighten-3" href="/habits/new"><i class="material-symbols-outlined">add</i></a>
        <!-- </div> --></br>
    </main> 
    <%- include('../partials/footer.ejs') %>
</html>