<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs')  %>

<body>
    <%- include('../partials/header.ejs') %>

    <main>
        <div class="habits">
            <% for (habit of habits) { %>
                <div class="habit">
                    <h1><%= habit.name %></h1>
                    
                    <% if (habit.streak) { %>
                        Active Streak!
                    <% } else { %>  
                        Start a new Streak.
                    <% } %> 
                    <form action="/habits/<%= habit._id %>?_method=PUT" method="post">
                        <input type="submit" value="I DID IT!">
                    </form>
                    <form id="delete" action="/habits/<%= habit._id %>?_method=DELETE" method="post">
                        <button>Delete</button>
                    </form>
                </div>
            <% } %>  
        </div>
        <span><a href="/habits/new"><button> Track a New Habit</button> </a> </span>
    </main> 
</body>
</html>